<a href="https://colab.research.google.com/github/Roksana18cse04/Python-Learn-step-by-step/blob/main/ControlStructureIN_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# for statement
x=5
for i in range(5):
  print(i)

0
1
2
3
4

In [2]:
# if StateMent
x=9
if x>5:
  print("x is greater than 5")

x is greater than 5

In [3]:
x=5
if x>5:
  print("x is greater than 5")
else:
  print("x is less than 5")

x is less than 5

In [5]:
x=int(input("Enter a Number: "))

if x>0:
  print(": Number is Positive")
elif(x==0):
  print("Number is Zero")
elif(x<0):
  print(": NUmber is Negetive")
else:
  print("Number is invalid")

Enter a Number: -4
: NUmber is Negetive

For State MENT

In [8]:
# create List
words=["cat","Dog","Lion","Tiger"]

for i in words:
  print(i,len(i))

cat 3
Dog 3
Lion 4
Tiger 5

In [13]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

#  Strategy:  Iterate over a copy
for user, status in users.copy().items():
  if status=="inactive":
    del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

THe **range() **Function

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [16]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [17]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [22]:
x=list(range(10))
print(x)
print(range(10))
sum(range(10))  # here 1-9 sum

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)

45

In [29]:
# range() function anf for loop using prime number finds
for n in range(2,20):
  for x in range(2,n):
    if n%x==0:
      print(n, 'equals', x, '*', n//x)
      break
  else:
        print(n)

2
3
4 equals 2 * 2
5
6 equals 2 * 3
7
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11
12 equals 2 * 6
13
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17
18 equals 2 * 9
19

In [30]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [31]:
class MyEmptyClass:
    pass

In [32]:
def initlog(*args):
    pass   # Remember to implement this!

In [33]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"