<a href="https://colab.research.google.com/github/Roksana18cse04/Python-Learn-step-by-step/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data structures are fundamental to organizing and storing data in a way that facilitates efficient access and modification. Python provides several built-in data structures, each with its own strengths and use cases. Here’s an overview of the most commonly used data structures in Python:

##**Built-in Data Structures bold text**
- Lists
- Tuples
- Sets
- Dictionaries

In [ ]:
# List Data Structure
lis=[1,3,5,6,7]
print(type(lis))
print(len(lis))
print(lis[2])
lis.append(8)
lis.append(7)  # double value allowed
print(lis)
lis.insert(2,9)  # her 2 is index number and 9 is data for list
print(lis)
lis.remove(9)
print(lis)
lis.pop()  # last index pop
print(lis)
lis[-1]

<class 'list'>
5
5
[1, 3, 5, 6, 7, 8, 7]
[1, 3, 9, 5, 6, 7, 8, 7]
[1, 3, 5, 6, 7, 8, 7]
[1, 3, 5, 6, 7, 8]

8

In [ ]:
# creating list
fruits=["apple","banana","cherry"]
print(fruits)
# modify list
fruits[0]="mango"
print(fruits)
#adding list
fruits[2]="orange"
print(fruits)
#list.clear(fruits)
#print(fruits)

['apple', 'banana', 'cherry']
['mango', 'banana', 'cherry']
['mango', 'banana', 'orange']

In [ ]:
lis.reverse()
print(lis)

[7, 6, 5, 3, 1]

In [ ]:
fruits.sort()
print(fruits)

['banana', 'mango', 'orange']

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [ ]:
#list compherission
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Tupples

In [ ]:
tupple=(1,2,3,4,5,6)
tupple

(1, 2, 3, 4, 5, 6)

In [ ]:
tupple[2]

3

In [ ]:
tupple[5]=7
tupple

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupple.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
len(tupple)

6

In [ ]:
tupple[-1]

6

In [ ]:
t=(1,2,3,2,5,6)
t          # double value allowed

(1, 2, 3, 2, 5, 6)

In Python, a set is an unordered collection of unique elements. Sets are useful when you need to eliminate duplicate values or check for membership. Here’s an overview of sets in Python:

In [ ]:
# creatig emty set
s=set()
type(s)

set

In [ ]:
# set the value add
s.add(1)
s.add(2)
s.add(3)
s.add(2)  # set are  not allowed Double value
s

{1, 2, 3}

In [ ]:
food={"apple","banana","cherry"}
type(food)

set

In [ ]:
food.add("orange")
food

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
food.append("tomato") # not append

AttributeError: 'set' object has no attribute 'append'

In [ ]:
food.remove("apple")
food

{'banana', 'cherry', 'orange'}

In [ ]:
food[1]="mango"
food

TypeError: 'set' object does not support item assignment

In [ ]:
for x in food:
  print(x)

cherry
orange
banana

In [ ]:
food.discard("orange")
food

{'banana', 'cherry'}

## **Set Operations**
- *Union:* Combine elements from both sets using | or union().
- *Intersection:* Find common elements using & or intersection().
- *Difference:* Find elements in one set but not the other using - or difference().
- *Symmetric Difference:* Find elements in either set but not in both using ^ or symmetric_difference()

In [ ]:
x={1,4,5,6,7}
y={2,3,4,5,6}
x|y  # union

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
x&y  # intersection

{4, 5, 6}

In [ ]:
x-y  # difference

{1, 7}

In [ ]:
y-x

{2, 3}

In [ ]:
y^x  # symmetric difference

{1, 2, 3, 7}

In [ ]:
fruits = {"apple", "banana", "cherry"}

# Check membership
print("apple" in fruits)  # Output: True

# Length of the set
print(len(fruits))  # Output: 3

# Copying the set
fruits_copy = fruits.copy()
print(fruits_copy)  # Output: {'apple', 'banana', 'cherry'}

# Clearing the set
fruits.clear()
print(fruits)  # Output: set()

True
3
{'cherry', 'banana', 'apple'}
set()

In [ ]:
frozen_set = frozenset([1, 2, 3, 4])
print(frozen_set)  # Output: frozenset({1, 2, 3, 4})

# Trying to add or remove elements will raise an AttributeError
# frozen_set.add(5)  # Raises AttributeError

frozenset({1, 2, 3, 4})

In [ ]:
# Removing duplicates from a list using a set
numbers = [1, 2, 3, 4, 5, 3, 2, 1]
unique_numbers = set(numbers)
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

# Dictionary

In Python, a dictionary is a collection of key-value pairs. It is an unordered, mutable, and indexed data structure. Here’s an overview of dictionaries in Python:

- **Creating Dictionaries:**
<br>
You can create dictionaries using *curly braces* {} with key-value pairs, or the *dict()* function.

In [ ]:
# Create Emty Dictionary
dic={}
print(dic)
type(dic)

{}

dict

In [ ]:
person={
    "Name":"Roksana",
    "Age":25,
    "Country":"India"
}
print(person)
type(person)

{'Name': 'Roksana', 'Age': 25, 'Country': 'India'}

dict

In [ ]:
# Using the dict() function
person2 = dict([("name","Bob"), ("age",30), ("city","San Francisco")])
print(person2)

{'name': 'Bob', 'age': 30, 'city': 'San Francisco'}

In [ ]:
person2["name"]

'Bob'

In [ ]:
person2["age"]

30

In [ ]:
person2["Phone"]="01304478846"

In [ ]:
person2

{'name': 'Bob', 'Phone': '01304478846'}

In [ ]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Iterating through keys
for key in person:
    print(key)  # Output: name, age, city

# Iterating through values
for value in person.values():
    print(value)  # Output: Alice, 25, New York

# Iterating through key-value pairs
for key, value in person.items():
    print(f"{key}: {value}")
    # Output:
    # name: Alice
    # age: 25
    # city: New York

name
age
city
Alice
25
New York
name: Alice
age: 25
city: New York

In [5]:
# counting Dictionary in  list to dictionary

fruits=["apple","banana","apple","banana","cherry","apple","banana","cherry","apple","banana","cherry","apple","banana"]
fruits.count("apple")
Fruits_item ={}
for x in fruits:
  if x in Fruits_item:
    Fruits_item[x]+=1
  else:
    Fruits_item[x]=1
print(Fruits_item)

{'apple': 5, 'banana': 5, 'cherry': 3}