All About Data Types In Python
- Numeric Data
- Boolean Data
- Sequence Data
- Set Data
- Mapping Data
- Data Frame

Numeric : 
    - Integer
    - Float
    - Complex
Boolean Data
    - True
    - False
Sequence Data:
    - List
    - Tuples
    - Range
    - Array
    - String
Set Data     :
    - Set
    - FrozenSet
Mapping       :
    - Dictionary
Data Frame    :
    - Tabular
    -

In [3]:
x= 10
x
y=19.8
y
z= 10+5j
z

(10+5j)

In [4]:
type(x)

int

In [5]:
type(z)

complex

In [6]:
type(y)

float

Sequence Data :List
Multiple type of Store in List

In [8]:
l=[1,2,3,True, [1,2],'Data',(1,2,3)]
l

[1, 2, 3, True, [1, 2], 'Data', (1, 2, 3)]

In [9]:
l[-1]

(1, 2, 3)

In [10]:
l[-1][0]

1

Tuple is required tuple()

In [12]:
t=('a',123,345,78,90)
t

('a', 123, 345, 78, 90)

Range method

In [13]:
x=range(0,10)

In [14]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
y=range(5,20)
for i in y:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
y=range(5,20,3)
for i in y:
    print(i)

5
8
11
14
17

In [18]:
y=range(20,5,-3)
for i in y:
    print(i)

20
17
14
11
8

Array method

In [19]:
import array as ar

In [23]:
a=ar.array('i',[1,2,4,3])

In [21]:
a

array('i', [1, 2, 4, 3])

In [24]:
type(a)

array.array

SET

In [25]:
s={12,34,54}

In [26]:
s

{12, 34, 54}

Dictionary

In [27]:
dic={
    'Student': "Roksana",
    'ID':'18CSE204',
    'Session':'2018-2019'

}
dic

{'Student': 'Roksana', 'ID': '18CSE204', 'Session': '2018-2019'}