In [1]:
data ='60 days of Python'
data.find('of')

8

Find The Value From String

In [2]:
 data.find('y',6,14)

12

In [3]:
data.lower()#Convert Small Letter

'60 days of python'

In [4]:
data.upper()

'60 DAYS OF PYTHON'

In [6]:
x='Roksana Akter'
x

'Roksana Akter'

In [7]:
x.capitalize()

'Roksana akter'

In [8]:
x.swapcase()

'rOKSANA aKTER'

In [9]:
x.title()

'Roksana Akter'

In [10]:
x.lower

In [11]:
x.islower()

False

In [12]:
x.isupper()

False

In [13]:
x.encode()

b'Roksana Akter'

In [14]:
x.split()

['Roksana', 'Akter']

In [15]:
data.split()[0]

'60'

spilt() method string to divider words

In [16]:
data.split()

['60', 'days', 'of', 'Python']

In [17]:
x.center(50)

'                  Roksana Akter                   '

In [18]:
x.replace('Roksana','Rabita')

'Rabita Akter'

formate() method uses

In [22]:
x=10
y=100
if(x>y):
    print('The large Number',x)
else:
    print('The Large Number {}'.format(y))

The Large Number 100