In [1]:
2+3

5

In [2]:
print("Hello World")

Hello World

Variable

In [3]:
var= 'hello world'
print(var)

hello world

In [4]:
import sys
sys.getsizeof(var)

52

Here are some examples of valid variable names in Python:

my_variable
myVariable
my_var_1
_my_var

Here are some examples of invalid variable names in Python:

1_variable (starts with a digit)
my-variable (contains a hyphen)
my class (contains a space)

In [5]:
x=10
x

10

In [6]:
id(x)

140737470384856

In [10]:
y=10
y

10

In [11]:
id(y)

140737470384856

In [12]:
x,y,z = 10,100,1000
x
y
z

1000

In [13]:
y

100

In [14]:
x

10

In [15]:
"hello"

'hello'

Local Vs Global Variable

In [18]:
x=1000
def func1():
    print("My Num is:",x)
func1()

My Num is: 1000

In [20]:
x=1000
def func1():
    x=23
    print("My Num is:",x)
func1()
def func2():
    x=500
    print("My Num is:",x)
func2()

My Num is: 23
My Num is: 500